# -indexes wont let users see the  contents of a directory with out a default file
Options -indexes

# If HTTP Status Code is matched send the user to error page
# Use single slash / for the root level of the website then path to file
ErrorDocument 403 /wet/assignments/Portfolio/_errors/index.html
ErrorDocument 404 /wet/digital-arts-showcase/_errors/index.html