body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background: linear-gradient(91.7deg, rgb(252, 190, 224) 16.8%, rgb(212, 254, 218) 103.6%);
}
.wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
}
.patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: center;
}
.sofia-regular {
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
  }
h1 {
    text-align: center;
    font-size: 8em;
    margin: 0;
}
main {
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    height: 100%; 
}
header {
    margin: 0;
}
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}
.type--A{
    --line_color : #555555 ;
    --back_color : #FFECF6  ;
  }
  .type--B{
    --line_color : #1b1919 ;
    --back_color : #E9ECFF
  }
  .type--C{
    --line_color : #00135C ;
    --back_color : #DEFFFA 
  }
  .button{
      position : relative ;
      z-index : 0 ;
      width : 240px ;
      height : 56px ;
      text-decoration : none ;
      font-size : 14px ; 
      font-weight : bold ;
      color : var(--line_color) ;
      letter-spacing : 2px ;
      transition : all .3s ease ;
      
  }
  .button__text{
      display : flex ;
      justify-content : center ;
      align-items : center ;
      width : 100% ;
      height : 100% ;
      font-size: 1.4em;
  }
  .button::before,
  .button::after,
  .button__text::before,
  .button__text::after{
      content : '' ;
      position : absolute ;
      height : 3px ;
      border-radius : 2px ;
      background : var(--line_color) ;
      transition : all .5s ease ;
  }
  .button::before{
      top : 0 ;
      left : 54px ;
      width : calc( 100% - 56px * 2 - 16px ) ;
  }
  .button::after{
      top : 0 ;
      right : 54px ;
      width : 8px ;
  }
  .button__text::before{
      bottom : 0 ;
      right : 54px ;
      width : calc( 100% - 56px * 2 - 16px ) ;
  }
  .button__text::after{
      bottom : 0 ;
      left : 54px ;
      width : 8px ;
  }
  .button__line{
      position : absolute ;
      top : 0 ;
      width : 56px ;
      height : 100% ;
      overflow : hidden ;
      
  }
  .button__line::before{
      content : '' ;
      position : absolute ;
      top : 0 ;
      width : 150% ;
      height : 100% ;
      box-sizing : border-box ;
      border-radius : 300px ;
      border : solid 3px var(--line_color) ;
  }
  .button__line:nth-child(1),
  .button__line:nth-child(1)::before{
      left : 0 ;
  }
  .button__line:nth-child(2),
  .button__line:nth-child(2)::before{
      right : 0 ;
  }
  .button:hover{
      letter-spacing : 6px ;
  }
  .button:hover::before,
  .button:hover .button__text::before{
      width : 8px ;
  }
  .button:hover::after,
  .button:hover .button__text::after{
      width : calc( 100% - 56px * 2 - 16px ) ;
  }
  .button__drow1,
  .button__drow2{
      position : absolute ;
      z-index : -1 ;
      border-radius : 16px ;
      transform-origin : 16px 16px ;
  }
  .button__drow1{
      top : -16px ;
      left : 40px ;
      width : 32px ;
      height : 0;
      transform : rotate( 30deg ) ;
  }
  .button__drow2{
      top : 44px ;
      left : 77px ;
      width : 32px ;
      height : 0 ;
      transform : rotate(-127deg ) ;
  }
  .button__drow1::before,
  .button__drow1::after,
  .button__drow2::before,
  .button__drow2::after{
      content : '' ;
      position : absolute ;
  }
  .button__drow1::before{
      bottom : 0 ;
      left : 0 ;
      width : 0 ;
      height : 32px ;
      border-radius : 16px ;
      transform-origin : 16px 16px ;
      transform : rotate( -60deg ) ;
  }
  .button__drow1::after{
      top : -10px ;
      left : 45px ;
      width : 0 ;
      height : 32px ;
      border-radius : 16px ;
      transform-origin : 16px 16px ;
      transform : rotate( 69deg ) ;
  }
  .button__drow2::before{
      bottom : 0 ;
      left : 0 ;
      width : 0 ;
      height : 32px ;
      border-radius : 16px ;
      transform-origin : 16px 16px ;
      transform : rotate( -146deg ) ;
  }
  .button__drow2::after{
      bottom : 26px ;
      left : -40px ;
      width : 0 ;
      height : 32px ;
      border-radius : 16px ;
      transform-origin : 16px 16px ;
      transform : rotate( -262deg ) ;
  }
  .button__drow1,
  .button__drow1::before,
  .button__drow1::after,
  .button__drow2,
  .button__drow2::before,
  .button__drow2::after{
      background : var( --back_color ) ;
  }
  .button:hover .button__drow1{
      animation : drow1 ease-in .06s ;
      animation-fill-mode : forwards ;
  }
  .button:hover .button__drow1::before{
      animation : drow2 linear .08s .06s ;
      animation-fill-mode : forwards ;
  }
  .button:hover .button__drow1::after{
      animation : drow3 linear .03s .14s ;
      animation-fill-mode : forwards ;
  }
  .button:hover .button__drow2{
      animation : drow4 linear .06s .2s ;
      animation-fill-mode : forwards ;
  }
  .button:hover .button__drow2::before{
      animation : drow3 linear .03s .26s ;
      animation-fill-mode : forwards ;
  }
  .button:hover .button__drow2::after{
      animation : drow5 linear .06s .32s ;
      animation-fill-mode : forwards ;
  }
  @keyframes drow1{
      0%   { height : 0 ; }
      100% { height : 100px ; }
  }
  @keyframes drow2{
      0%   { width : 0 ; opacity : 0 ;}
      10%  { opacity : 0 ;}
      11%  { opacity : 1 ;}
      100% { width : 120px ; }
  }
  @keyframes drow3{
      0%   { width : 0 ; }
      100% { width : 80px ; }
  }
  @keyframes drow4{
      0%   { height : 0 ; }
      100% { height : 120px ; }
  }
  @keyframes drow5{
      0%   { width : 0 ; }
      100% { width : 124px ; }
  }
  .button-container{
      width : 100% ;
      display : flex ;
      flex-direction : row ;
      gap: 30px;
      justify-content : center ;
      padding-top: 100px;
      
  }
  .button:not(:last-child){
    margin-bottom : 64px ;
  }
  .container {
    height: 200px;
    width: 300px;
    margin: auto;
    display: flex;
    /* flex: 0 0 auto; */
    /* grid-template-rows: 1fr; */
    /* grid-template-columns: 1fr; */
    /* gap: 0px; */
    /* height: 100%; */
    justify-content: center;
    flex-wrap: wrap;
}
.flower {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 600px;

    border-radius: 50%;
}

.petal1 {
    height: 100px;
    width: 280px;
    border-radius: 50px;
    background: pink;
    z-index: 2;
}
.petal2 {
    height: 100px;
    width: 280px;
    border-radius: 50px;
    background: pink;
    transform: rotate(60deg);
    position: absolute;
    z-index: 3;
}
.petal3 {
    height: 100px;
    width: 280px;
    border-radius: 50px;
    background: pink;
    transform: rotate(300deg);
    position: absolute;
    z-index: 4;
}

.left-eye {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: -40px;
    margin-left: -80px;
    background-color: white;
    border-radius: 50%;
    z-index: 5;
}
.eye-innerL {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    background-color: black;
    border-radius: 50%;
    z-index: 9;
    animation: orbit 4s linear infinite;
}
@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}
.right-eye {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: -40px;
    margin-left: 80px;
    background-color: white;
    border-radius: 50%;
    z-index: 6;
}
.eye-innerR {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    background-color: black;
    border-radius: 50%;
    z-index: 8;
    animation: orbit 4s linear infinite;
}
.nose {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 40px;
    background-color: white;
    border-radius: 50%;
    z-index: 7;
}

  @media screen and (max-width: 768px) {
    svg {
        display: none;
    }
    .button-container {
        display: flex;
        align-items: center;
        height: 450px;
    }
    .name {
        display: flex;
        font-size: 4.5em;
        justify-content: center;
        
    }
    header {
        height: 150px;
       }
       main  {
        grid-template-columns: 1fr;
       }
       p {
        transform: rotate(0deg);
       }
    }
    
  
  @media screen and (min-width: 1920px) {
    body {
        width: 100%;
        height: 100%;
    }
    .wrapper {
        min-width: 1000px;
        min-height: 1000px;
        
    }
  }